
#game-board img {
    width: 10%;
    height: 10%;
    padding: 5px;
    box-sizing: border-box;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    visibility: hidden;
}

body {
    background-color: #c369ff;
}

#game-board img:hover {
    transform: scale(1.1,1.1);
}
