body {
    background-color: #000;
    vertical-align: top;
}
main, header, footer {
    color: #DDD;
}

header {
    margin-left: 1em;
}

main {
    padding-left: 10%;
}

.btn-info {
    background-color: #897A7A;
}

.btn-info:hover {
    background-color: #5D5050;
}

.btn {
    border: none;
}

#gameBoard, #statControlWrap {
    display: none;
    float: left;
}

#gameBoard {
    margin: 0 5px 5px 0;
}

#controls {
    margin-top: 5px;
}

#stats {
    width: 180px;
    border: solid #DDD;
    border-radius: 10px;
    padding: 1em;
}

#stats h2 {
    margin-top: 0;
}

.tileContainer, .flipper, .back, .face, .backImg, .faceImg {
    width: 200px;
    height: 200px;
}

.tileContainer {
    margin-right: 5px;
    margin-bottom: 5px;
    border: 2px solid #000;
    border-radius: 10px;
}

.helpDismissButton {
    display: none;
}

/*3d transform styling*/

.tileContainer {
    /*perspective*/
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    perspective:1000;

    float: left;
}

.flipperFlip {
    /*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

.flipper{
    /*transition*/
    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    -o-transition:0.25s;
    transition:0.25s;

    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;

    position:relative;
}

.back, .face {
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;

    position:absolute;
    top:0;
    left:0;
}

.back {
    z-index:2;
    /*transform*/
    -webkit-transform:rotateY(0deg);
    -moz-transform:rotateY(0deg);
    -ms-transform:rotateY(0deg);
    -o-transform:rotateY(0deg);
    transform:rotateY(0deg);
}

.face {
    /*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}